.main-section {
    max-width: 1440px;
    display: flex;
    border-radius: 20px;
}

.main-section .filter {
    background-color: hsl(277, 55%, 51%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-section .filter .image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}