.main-section {
    max-width: 1440px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.main-section .filter {
    display: flex;
    background-color: hsl(277, 55%, 51%);
}

.main-section .filter .image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1023.98px) {
    .main-section {
        flex-direction: column-reverse;
        margin-top: 0;
        max-width: 500px;
    }
}